<!-- Modal -->
<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5  class="modal-title text-center">Zmień Hasło</h5>
        <button type="button" class="close" id="closeModalButtonPassword" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="passwordForm" class="form-group">
          <div class="form-group">
            <label> New Password :</label>
            <input type="password" formControlName="password" class="form-control" name="password" placeholder="Enter New Password ">
            <div class="alert alert-warning mt-1" *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched">
              Invalid New Password
            </div>
          </div>
          <div class="form-group">
            <label> Repeat New Password :</label>
            <input type="password" formControlName="confirmpassword" class="form-control" name="confirmpassword" placeholder="Enter Repeat New Password">
            <div class="alert alert-warning mt-1" *ngIf="passwordForm.get('confirmpassword').invalid && passwordForm.get('confirmpassword').touched">
              Invalid Repeat New Password
            </div>
          </div>
        </form>
        <div class="alert alert-warning mt-1" *ngIf="passwordForm.errors  && passwordForm.get('confirmpassword').dirty ">
          Hasła nie są takie same
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel</button>
        <button type="button"  [disabled]="passwordForm.invalid" (click)="sendForm()" class="btn btn-danger ">Zmień</button>
      </div>
    </div>
  </div>
</div>
