<form [formGroup]="contactDetailsForm" (ngSubmit)="sendForm()" class="form-group">
  <div class="form-group">
    <label> Street :</label>
    <input type="text" formControlName="street" class="form-control" name="street" placeholder="Enter Your Street">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('street').invalid && contactDetailsForm.get('street').touched">
      Invalid street
    </div>
  </div>
  <div class="form-group">
    <label> House number :</label>
    <input type="text" formControlName="houseNumber" class="form-control" name="houseNumber" placeholder="Enter Your House Number">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('houseNumber').invalid && contactDetailsForm.get('houseNumber').touched">
      Invalid House Number
    </div>
  </div>
  <div class="form-group">
    <label> Township :</label>
    <input type="text" formControlName="township" class="form-control" name="township" placeholder="Enter Your Township">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('township').invalid && contactDetailsForm.get('township').touched">
      Invalid Township
    </div>
  </div>
  <div class="form-group">
    <label> Post Office :</label>
    <input type="text" formControlName="postOffice" class="form-control" name="postOffice" placeholder="Enter Your Post Office">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('postOffice').invalid && contactDetailsForm.get('postOffice').touched">
      Invalid id number
    </div>
  </div>
  <div class="form-group">
    <label> Postal Code :</label>
    <input type="text" formControlName="postalCode" class="form-control" name="postalCode" placeholder="Enter Your Postal Code">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('postalCode').invalid && contactDetailsForm.get('postalCode').touched">
      Invalid Postal Code
    </div>
  </div>
  <div class="form-group">
    <label> Community :</label>
    <input type="text" formControlName="community" class="form-control" name="community" placeholder="Enter Your Community">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('community').invalid && contactDetailsForm.get('community').touched">
      Invalid Community
    </div>
  </div>
  <div class="form-group">
    <label> District :</label>
    <input type="text" formControlName="district" class="form-control" name="district" placeholder="Enter Your District">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('district').invalid && contactDetailsForm.get('district').touched">
      Invalid District
    </div>
  </div>
  <div class="form-group">
    <label>Voivodeship:</label>
    <select id="propertyVoivodeshipType" class="form-control form-control-xs" formControlName="voivodeship">
      <option [ngValue]="null">Select one...</option>
      <option *ngFor="let voivodeship of enumVoivodeship | keyvalue" [ngValue]="voivodeship.value">{{voivodeship.value}}</option>
    </select>
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('voivodeship').invalid && contactDetailsForm.get('voivodeship').touched">
      Invalid Voivodeship
    </div>
  </div>
  <div class="form-group">
    <label>Area:</label>
    <select id="propertyAreaType" class="form-control form-control-xs" formControlName="area">
      <option [ngValue]="null">Select one...</option>
      <option *ngFor="let area of enumArea | keyvalue" [ngValue]="area.value">{{area.value}}</option>
    </select>
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('area').invalid && contactDetailsForm.get('area').touched">
      Invalid Area
    </div>
  </div>
  <div class="form-group">
    <label> Phone Number :</label>
    <input type="text" formControlName="phoneNumber" class="form-control" name="phoneNumber" placeholder="Enter Your Phone Number">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('phoneNumber').invalid && contactDetailsForm.get('phoneNumber').touched">
      Invalid Phone Number
    </div>
  </div>
  <div class="form-group">
    <label> Email :</label>
    <input type="email" formControlName="email" class="form-control" name="email" placeholder="Enter Your Email">
    <div class="alert alert-warning mt-1" *ngIf="contactDetailsForm.get('email').invalid && contactDetailsForm.get('email').touched">
      Invalid Email
    </div>
  </div>
  <button type="button" (click)="next()" [disabled]="contactDetailsForm.invalid" class="btn btn-danger mt-1 mb-1" >Next</button>
  <button type="button" (click)="previous()" class="btn btn-danger mt-1 mb-1" >Previous</button>
</form>
