<h5 class="card-title" id="summary">Podsumowanie: </h5>

<div class="card-text">
  <div class="container">
    <div class="row"> <div class="col-sm-6">
      <img class="m-2" src="assets/amw_logo.png" />      </div>
      <div class="col-sm-6">
        <p> Liczba unikalnych uzytkownikow: {{countUniqueUser | loading}}</p>
        <p> Liczba wszystkich uzytkownikow: {{countUser | loading}}</p>
        <p> Liczba wszystkich projektow: {{countProject | loading}}</p>
        <p> Liczba wszystkich wydzialow: {{countDepartments | loading}}</p>
        <p> Liczba wszystkich kierunkow: {{countCourses | loading}}</p>
      </div>

    </div>
  </div>
</div>
